<div class="header-container">
  <div class="logo-container">
    <a href="#" *ngIf="router.url !== '/home'" class="sidebar-toggle">
      <nb-icon icon="arrow-left"></nb-icon>
    </a>
    <a class="logo">{{ 'TITLE' | translate }}</a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <nb-toggle labelPosition="start" (checkedChange)="switchTheme()" [(ngModel)]="themeSwitch">
        {{ 'SWITCH' | translate }}
      </nb-toggle>
    </nb-action>
  </nb-actions>
</div>