<div class="header-container">
  <div *ngIf="currentPage === 'home'" class="logo-container">
    <a class="logo" href="#">{{ 'TITLE' | translate }}</a>
  </div>
  <div  *ngIf="currentPage !== 'home'" class="logo-container">
    <a routerLink="/home" class="sidebar-toggle">
      <nb-icon icon="arrow-left"></nb-icon>
    </a>
    <a routerLink="/home" class="logo">Experimento</a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <nb-toggle labelPosition="start" (checkedChange)="switchTheme()" [(ngModel)]="themeSwitch">
        {{ 'SWITCH' | translate }}
      </nb-toggle>
    </nb-action>
  </nb-actions>
</div>