@import '~@nebular/theme/styles/global/breakpoints';
@import '../../../../themes.scss';

@font-face {
  font-family: Josefina;
  src: url(assets/fonts/JosefinSans-SemiBold.ttf);
}

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
  }

  .example-items-rows {
    align-items: center;
  }

  nb-action {
    height: auto;
    display: flex;
    align-content: center;
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;

    .logo {
      padding: 0 1.25rem;
      font-size: 1.75rem;
      @include nb-ltr(border-left, 1px solid nb-theme(divider-color));
      @include nb-rtl(border-right, 1px solid nb-theme(divider-color));
      white-space: nowrap;
      text-decoration: none;
    }

    .uvehavior {
      font-family: Josefina;
    }

    .uvehavior-icon {
      max-width: 2.5rem;
      max-height: 2.5rem;
    }

    .sidebar-toggle {
      @include nb-ltr(padding-right, 1.25rem);
      @include nb-rtl(padding-left, 1.25rem);
      text-decoration: none;
      color: nb-theme(text-hint-color);

      nb-icon {
        font-size: 1.75rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
  }
}
