<div class="header-container">
  <div class="logo-container">
    <img *ngIf="router.url === '/home'" src="assets/img/icon.png" class="uvehavior-icon" />
    <button
      nbButton
      ghost
      (click)="back()"
      *ngIf="router.url !== '/home' && router.url.split('/')[1] !== 'annotate'"
      class="sidebar-toggle"
    >
      <nb-icon icon="arrow-left"></nb-icon>
    </button>
    <button
      nbButton
      ghost
      *ngIf="router.url.split('/')[1] === 'annotate'"
      class="sidebar-toggle"
      (click)="cancelClick()"
    >
      <nb-icon icon="times"></nb-icon>
    </button>
    <a *ngIf="router.url === '/home'" class="logo uvehavior">UVehavior</a>
    <a *ngIf="router.url.split('/')[1] === 'experiment'" class="logo">{{ 'EXPERIMENT' | translate }}</a>
    <a *ngIf="router.url.split('/')[1] === 'annotate'" class="logo">{{ 'ANALYSIS' | translate }}</a>
    <a *ngIf="router.url.split('/')[1] === 'evaluations'" class="logo">{{ 'EVALUATIONS' | translate }}</a>
  </div>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item">
      <nb-toggle labelPosition="start" (checkedChange)="switchTheme()" [(ngModel)]="themeSwitch">
        {{ 'SWITCH' | translate }}
      </nb-toggle>
    </nb-action>
  </nb-actions>
</div>
