<nb-card>
  <nb-card-header *ngIf="!editMode">{{'NEW-GROUP' | translate}}</nb-card-header>
  <nb-card-header *ngIf="editMode">{{'EDIT-GROUP' | translate}}</nb-card-header>
  <nb-card-body>
    <form id="groupForm" novalidate [formGroup]="groupForm" (ngSubmit)="submitGroup()">
      <input formControlName="name" name="name" fullWidth nbInput required
        placeholder="{{'GROUP-NAME' | translate}}"/>
      <textarea formControlName="description" name="description" rows="3" nbInput fullWidth
        placeholder="{{'GROUP-DESCRIPTION' | translate}}"></textarea>
    </form>
  </nb-card-body>
  <nb-card-footer>
    <button class="cancel" nbButton status="basic" (click)="cancel()">{{'CANCEL' | translate}}</button>
    <button nbButton type="submit" form="groupForm" status="primary"
      [disabled]="!groupForm.valid">{{'SUBMIT' | translate}}</button>
  </nb-card-footer>
</nb-card>