<nb-card>
  <nb-card-header>{{ 'ANALYSIS-FINISHED' | translate }}</nb-card-header>
  <nb-card-body>
    <table style="width: 100%;">
      <tr>
        <th>Key</th>
        <th>Name</th>
        <th>Latency</th>
        <th>Frequency</th>
        <th>Time</th>
      </tr>
      <tr *ngFor="let item of behaviorsEvaluated">
        <td>
          <span>
            <div class="md-chip">
              {{ item.behavior.associatedKey }}
            </div>
          </span>
        </td>
        <td>
          <span>{{ item.behavior.name }}</span>
        </td>
        <td>
          <span>{{ item.latency | number: '1.2-2' }}</span>
        </td>
        <td>
          <span>{{ item.frequency | number: '1.0' }}</span>
        </td>
        <td>
          <span>{{ item.totalTime | number: '1.2-2' }}</span>
        </td>
      </tr>
    </table>
  </nb-card-body>
  <nb-card-footer>
    <button type="button" class="cancel" nbButton status="basic" (click)="exit()">{{ 'EXIT' | translate }}</button>
    <button nbButton type="button" (click)="restart()" status="primary">
      {{ 'NEW-ANALYSIS' | translate }}
    </button>
  </nb-card-footer>
</nb-card>
