nb-card-body {
  overflow: visible;

  form {
    padding-top: 0;
    > * {
      margin-top: 1rem;
    }
  }
}

textarea {
  resize: none;
}

.cancel {
  margin-right: 1rem;
}

i {
  font-size: 10px;
}

ng2-smart-table {
  margin-top: 1rem;
}

.delete {
  float: right;
}
