.mat-video {
  margin-bottom: 1rem;
}

::ng-deep .progress,
::ng-deep .volume-control {
  display: none !important;
}

::ng-deep .playtime {
  margin-left: 1rem !important;
}

::ng-deep .left {
  margin-left: 0.3rem !important;
}

::ng-deep .right {
  margin-right: 0.3rem !important;
}
