@import '../../themes.scss';

@include nb-install-component {
  overflow: auto;

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > * {
      flex: 1;
    }

    &:first-child {
      border-top: none;
    }
  }

  .md-chip {
    display: inline-block;
    background: nb-theme(color-primary-500);
    padding: 0 12px;
    border-radius: 32px;
    font-size: 13px;

    color: white;
  }
}

.setting {
  float: right;
  margin-left: 0.5rem;
}

.analysis-info {
  line-height: 1.5rem;
}

nb-progress-bar {
  flex: 1;
  margin-left: 1rem;
}

.video-player {
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    flex: 1;
    font-weight: bold;
  }

  &:first-child {
    border-top: none;
  }
}
