<div class="row">
  <div class="col-lg-8 col-md-12 video-player">
    <video-player #video [quality]="false" [keyboard]="false" [src]="src"></video-player>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>
        {{ 'ANALYSIS' | translate }}
        <button
          nbButton
          ghost
          status="danger"
          class="setting"
          (click)="finishAnalysis()"
          [disabled]="analysisStartTime == undefined"
        >
          <nb-icon icon="stopwatch"></nb-icon>
        </button>
        <button
          nbButton
          status="primary"
          class="setting"
          (click)="startAnalysis()"
          [disabled]="analysisTime > 0 && analysisStartTime != undefined"
        >
          <nb-icon icon="clipboard-check"></nb-icon>
        </button>
      </nb-card-header>
      <nb-card-body>
        <div class="analysis-info">
          <b>{{ 'TEST' | translate }}:</b> {{ test ? test.name : '' }}
          <br />
          <b>{{ 'TEST-DURATION' | translate }}:</b> {{ test ? test.duration : '' }}
          <br />
          <b>{{ 'GROUP' | translate }}:</b> {{ groupName ? groupName : '' }}
          <br />
          <b>{{ 'SUBJECT' | translate }}:</b> {{ subject ? subject.name : '' }}
          <br />
          <b>{{ 'VIDEO' | translate }}:</b> {{ videoName ? videoName : '' }}
          <div class="analysis-progress">
            <b>Progress: </b>
            <nb-progress-bar
              [value]="analysisStartTime != undefined ? (analysisTime * 100) / duration : 0"
              status="primary"
            ></nb-progress-bar>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>{{ 'LOG' | translate }}</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="header">
            <span>Key</span>
            <span>Name</span>
            <span>Lat</span>
            <span>Freq</span>
            <span>Time</span>
          </nb-list-item>
          <nb-list-item class="item" *ngFor="let item of behaviorsEvaluation">
            <span *ngIf="this.current == item">
              <div class="md-chip">
                {{ item.behavior.associatedKey }}
              </div>
            </span>
            <span *ngIf="this.current != item">
              {{ item.behavior.associatedKey }}
            </span>
            <span>{{ item.behavior.name }}</span>
            <span>{{ item.latency | number: '1.2-2' }}</span>
            <span>{{ item.frequency | number: '1.0' }}</span>
            <span>{{ item.totalTime | number: '1.2-2' }}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
