<div class="row">
  <div class="col-lg-8 col-md-12 mat-video">
    <mat-video #video [quality]="false" [keyboard]="false" src="/assets/Media1-3.MP4"></mat-video>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>
        {{ 'ANALYSIS' | translate }}
        <button
          nbButton
          ghost
          status="danger"
          class="setting"
          (click)="clickButton()"
          [disabled]="analysisTime < testDuration"
        >
          <nb-icon icon="stopwatch"></nb-icon>
        </button>
        <button
          nbButton
          status="primary"
          class="setting"
          (click)="clickButton()"
          [disabled]="analysisTime > 0 && analysisStartTime !== 0"
        >
          <nb-icon icon="clipboard-check"></nb-icon>
        </button>
      </nb-card-header>
      <nb-card-body>
        <div class="analysis-info">
          <b>{{ 'TESTS' | translate }}:</b> Forced Swimming Test
          <br />
          <b>{{ 'TEST-DURATION' | translate }}:</b> 300
          <br />
          <b>{{ 'SUBJECT' | translate }}:</b> Subject 1
          <br />
          <b>{{ 'GROUP' | translate }}:</b> DZP
          <br />
          <b>{{ 'VIDEO' | translate }}:</b> dzp_1.mp4
          <div class="analysis-progress">
            <b>Progress: </b>
            <nb-progress-bar
              [value]="analysisStartTime !== 0 ? (analysisTime * 100) / testDuration : 0"
              status="primary"
            ></nb-progress-bar>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>{{ 'LOG' | translate }}</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="header">
            <span>Key</span>
            <span>Lat</span>
            <span>Freq</span>
            <span>Time</span>
          </nb-list-item>
          <nb-list-item class="item" *ngFor="let item of behaviors">
            <span>
              <div class="md-chip">
                {{ item.key }}
              </div>
            </span>
            <span>{{ item.latency | number: '1.2-2' }}</span>
            <span>{{ item.frequency | number: '1.2-2' }}</span>
            <span>{{ item.totalTime | number: '1.2-2' }}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
