<div class="row">
  <div class="col-lg-8 col-md-12 mat-video">
    <mat-video #video [quality]="false" [keyboard]="false" [(time)]="currentTime" src="/assets/video.mp4"></mat-video>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Nebula</nb-card-header>
      <nb-card-body>
        <button nbButton status="primary" (click)="clickButton()">Test</button>
      </nb-card-body>
      <nb-card-footer>{{ currentTime }}</nb-card-footer>
    </nb-card>
    <nb-card>
      <nb-card-header>{{ 'LOG' | translate }}</nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item class="header">
            <span>Behavior</span>
            <span>Key</span>
            <span>Latency</span>
            <span>Freq</span>
            <span>Time</span>
          </nb-list-item>
          <nb-list-item class="item" *ngFor="let item of log">
            <span>{{ item.behaviorName }}</span>
            <span>
              <div class="md-chip">
                {{ item.key }}
              </div>
            </span>
            <span>{{ item.latency }}</span>
            <span>{{ item.frequency }}</span>
            <span>{{ item.totalTime }}</span>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>
