@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';
$nb-themes: nb-register-theme(
  (
    // add your variables here like:
      color-primary-100: #c8d2e7,
    color-primary-200: #a3b4d8,
    color-primary-300: #7e96c8,
    color-primary-400: #6380bc,
    color-primary-500: #4769b0,
    color-primary-600: #4061a9,
    color-primary-700: #3756a0,
    color-primary-800: #2f4c97,
    color-primary-900: #203b87
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    // add your variables here like:
      color-primary-100: #c8d2e7,
    color-primary-200: #a3b4d8,
    color-primary-300: #7e96c8,
    color-primary-400: #6380bc,
    color-primary-500: #4769b0,
    color-primary-600: #4061a9,
    color-primary-700: #3756a0,
    color-primary-800: #2f4c97,
    color-primary-900: #203b87
  ),
  dark,
  dark
);
