@import '../../../../../themes.scss';

@include nb-install-component() {
  .chart {
    display: block;
    height: nb-theme(card-height-medium);
    max-width: 40rem;
    min-width: 20rem;
    padding: 1rem;
  }

  ::ng-deep .echart {
    height: 100%;
    width: auto;
    margin-right: 1rem;
    padding-right: 1rem;
    resize: horizontal;
    overflow: scroll;
  }
}
