<nb-layout>
  <nb-layout-header fixed>
    <ngx-header></ngx-header>
  </nb-layout-header>
  <nb-layout-column>
    <!--The content below is only a placeholder and can be replaced.-->
    <div style="text-align:center">
      <h1>
        UVehavior
      </h1>
    </div>
    <nb-card>
      <nb-card-header>{{ 'PAGES.HOME.EXPERIMENTS-TITLE' | translate }}</nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let experiment of experiments">
          {{ experiment.ExperimentName }}
        </nb-list-item>
      </nb-list>
      <nb-card-footer>{{ 'PAGES.HOME.EXPERIMENTS-FOOTER' | translate }}</nb-card-footer>
    </nb-card>
    <router-outlet></router-outlet>

  </nb-layout-column>
  <nb-layout-footer fixed>
    <ngx-footer></ngx-footer>
  </nb-layout-footer>
</nb-layout>