<nb-layout>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>
  <nb-layout-column>
    <!--The content below is only a placeholder and can be replaced.-->
    <div style="text-align:center">
      <h1>
        UVehavior
      </h1>
    </div>
    <nb-card>
      <nb-card-header>{{ 'EXPERIMENTS-TITLE' | translate }}</nb-card-header>
      <nb-menu tag="menu" [items]="experiments"></nb-menu>
      <nb-card-footer>
        <button nbButton status="primary" class="experiment">{{ 'EXPERIMENTS-FOOTER' | translate }}</button>
      </nb-card-footer>
    </nb-card>
    <router-outlet></router-outlet>

  </nb-layout-column>
  <nb-layout-footer fixed>
    <app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>