@import '../../themes.scss';

@import '~@nebular/theme/styles/globals';

nb-card {
  margin-top: 1rem;
}

.experiment {
  float: right;
}

@include nb-install-component() {
  ::ng-deep {
    a {
      user-select: none !important;
      -webkit-user-drag: none !important;
    }
  }
}
