<div>
  <ng-image-slider
    [images]="imageObject"
    #nav
    [imagePopup]="false"
    [imageSize]="{ width: '300rem', height: '200rem' }"
    [showArrow]="false"
    [infinite]="true"
    [animationSpeed]="5"
    [autoSlide]="{ interval: 2, stopOnHover: true }"
  ></ng-image-slider>
</div>
<nb-card>
  <nb-card-header>
    {{ 'EXPERIMENTS-TITLE' | translate }}
    <button nbButton status="primary" class="experiment" (click)="newExperiment()">
      {{ 'EXPERIMENTS-FOOTER' | translate }}
    </button>
  </nb-card-header>
  <nb-menu tag="menu" [items]="experiments"></nb-menu>
</nb-card>
