<nb-card>
  <nb-card-header>{{ 'ANALYSIS' | translate }}</nb-card-header>
  <nb-card-body>
    <nb-stepper #stepper linear>
      <nb-step [stepControl]="analysisForm" label="{{ 'SETUP-ANALYSIS' | translate }}">
        <form id="analysisForm" novalidate [formGroup]="analysisForm">
          <nb-select #subject placeholder="Subject" formControlName="subject" fullWidth>
            <nb-option-group *ngFor="let group of currentExperiment.groups" title="{{ group.name }}">
              <nb-option *ngFor="let subject of group.subjects" [value]="subject.idSubject">{{
                subject.name
              }}</nb-option>
            </nb-option-group>
          </nb-select>

          <nb-select placeholder="Test" formControlName="test" (selectedChange)="restartBehaviors()" fullWidth>
            <nb-option *ngFor="let test of currentExperiment.tests" [value]="test">{{ test.name }}</nb-option>
          </nb-select>

          <button nbButton nbStepperNext>{{ 'NEXT' | translate }}</button>
        </form>
      </nb-step>
      <nb-step label="{{ 'SETUP-BEHAVIORS' | translate }}">
        <form id="behaviorsForm" novalidate [formGroup]="behaviorsForm">
          <nb-select #behaviors multiple placeholder="Behaviors" formControlName="behaviors" fullWidth>
            <nb-option
              *ngFor="let behavior of this.analysisForm.get('test').value.behaviors"
              [value]="behavior"
              [disabled]="overrideBehavior(behavior)"
              >{{ behavior.name }}</nb-option
            >
          </nb-select>
          <div class="two-column">
            <button nbButton (click)="fileInput.click()">{{ 'SELECT-VIDEO' | translate }}</button>
            <p>{{ filename }}</p>
            <input
              formControlName="videoFile"
              hidden
              name="videoFile"
              #fileInput
              nbInput
              type="file"
              accept=".mp4"
              (change)="fileSelected($event)"
              placeholder="{{ 'TEST-DURATION' | translate }}"
            />
          </div>
        </form>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
  <nb-card-footer>
    <button type="button" class="cancel" nbButton status="basic" (click)="cancel()">{{ 'CANCEL' | translate }}</button>
    <button
      nbButton
      type="button"
      (click)="startAnnotation()"
      status="primary"
      [disabled]="!analysisForm.valid || !behaviorsForm.valid"
    >
      START
    </button>
  </nb-card-footer>
</nb-card>
