.analysis-info {
  line-height: 1.5rem;
}

.cancel {
  margin-right: 1rem;
}

.evaluation-title {
  vertical-align: text-bottom !important;
  margin-left: 0.5rem;
}

.plot {
  float: right;
}

nb-icon {
  line-height: 150%;
}
