<nb-card>
  <nb-card-header>
    <span *ngIf="this.router.url.split('/')[1] === 'evaluations'">Subject Evaluations</span>
    <span *ngIf="this.router.url.split('/')[1] === 'experiment-evaluations'">Experiment Evaluations</span>
    <button
      class="plot"
      nbButton
      status="primary"
      shape="round"
      *ngIf="selectedEvaluations.length > 0"
      nbTooltip="Plot Together"
      (click)="getMultipleLogs()"
    >
      <nb-icon icon="chart-line"></nb-icon>
    </button>
  </nb-card-header>
  <nb-accordion *ngIf="evaluations != undefined">
    <nb-accordion-item *ngFor="let evaluation of evaluations" class="list-item-on-hover">
      <nb-accordion-item-header>
        <span>
          <nb-checkbox status="basic" (checkedChange)="selectEvaluation(evaluation)"></nb-checkbox>
          <span class="evaluation-title">
            {{ evaluation.name ? evaluation.name : (evaluation.evaluationDate | date: 'fullDate') }}
          </span>
        </span>
        <button nbButton ghost shape="round" nbTooltip="Edit Name" class="edit" (click)="editName(evaluation)">
          <nb-icon icon="pen-alt"></nb-icon>
        </button>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="analysis-info">
          <p *ngIf="idExperiment"><b>Subject:</b> {{ evaluation.subject.name }}</p>
          <p *ngIf="idExperiment"><b>Group:</b> {{ evaluation.subject.group.name }}</p>
          <p *ngIf="evaluation.name"><b>Date:</b> {{ evaluation.evaluationDate | date: 'fullDate' }}</p>
          <p><b>Analysis Time (in seconds):</b> {{ evaluation.finishingTime }}</p>
          <p>
            <b>{{ 'VIDEO' | translate }}:</b> {{ evaluation.videoPath }}
          </p>
          <p><b>Test:</b> {{ evaluation.behaviorEvaluations[0].behavior.test.name }}</p>
          <p><b>Behaviors Evaluated:</b></p>
          <ul>
            <li *ngFor="let item of evaluation.behaviorEvaluations">{{ item.behavior.name }}</li>
          </ul>
        </div>
        <button nbButton status="basic" class="cancel" (click)="downloadLog(evaluation)">Download Log</button>
        <button nbButton status="primary" (click)="plotEvaluation(evaluation)">Plot</button>
        <button class="plot" nbButton status="danger" ghost (click)="clickDeleteEvaluation(evaluation)">
          <nb-icon icon="trash"></nb-icon>
        </button>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</nb-card>
